{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit/' in request.path %}
    Редактирование статьи
  {% elif "/delete/" in request.path %}
    Удаление статьи
  {% else %}
    Добавление статьи
  {% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if '/edit/' in request.path %}
          Редактирование статьи
        {% elif '/delete/' in request.path %}
          Удаление статьи
        {% else %}
          Добавление статьи
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <article>
              <p>
                {{ form.instance.created_at|date:"d E Y" }} | 
                <br>
              <h3>{{ form.instance.title }}</h3>
              <p>{{ form.instance.content|linebreaksbr }}</p>
            </article>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}