{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}">
          SimpleBlog
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          {% if user.is_authenticated %}
            <div 
              class="btn-group" role="group" 
              aria-label="Basic outlined example"
              >
              {{ user.username }}
              <button 
                type="button" 
                class="btn btn-outline-primary"
                >
                <a 
                  class="text-decoration-none text-reset"
                  href="{% url 'blog:article_create' %}"
                  >Написать статью
                </a>
              </button>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary"
                >
                  Выйти
                </button>
              </form>
              </button>
            </div>
          {% else %}
            <div 
              class="btn-group" 
              role="group" 
              aria-label="Basic outlined example"
              >
              <button 
                type="button" 
                class="btn btn-outline-primary"
                >
                <a 
                  class="text-decoration-none text-reset"
                  href="{% url 'login' %}"
                  >
                  Войти
                </a>
              </button>
              <button 
                type="button" 
                class="btn btn-outline-primary"
                >
                <a 
                  class="text-decoration-none text-reset"
                  href="{% url 'registration' %}"
                  >
                  Регистрация
                </a>
              </button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>